page-home {
    #button {
      width: 40%;
      height: 90%
    }

    #button2 {
      width: 40%;
      height: 40px;
      margin: 10px
    }

    #label {
      width: 60%;
      font-size: 9pt;
    }

    #item {
      height: 35px
    }
}
